@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <title>@Model.Name</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>