@using System.Web;
@using Trivical.Core.Models.ViewModels;
@model ViewReturn

<div>
    @foreach (var question in Model.questions)
    {
        <h3>@HttpUtility.HtmlDecode(question.question)</h3>
        <ol>
        @foreach(var answer in question.answers)
        {
            <li>@HttpUtility.HtmlDecode(answer.answer) | @answer.correct</li>
        }
        </ol>
    }
</div>